
.title {
    text-align: center;
}

.subtitle {
    text-align: center;
}

.content {
    text-align: center; 
}

.my-button {
    text-align: center;
    margin: 50px;

}

.my-button1 {
    text-align: center;
    margin: 50px;
}