

body {
    background: aliceblue;
}


.title {
    text-align: center;
}

.subtitle {
    text-align: center;
}

.content {
    text-align: center; 
}



.btn-newgame {
    text-align: center;
    margin: 50px;
}

.my-button {
    text-align: center;
    margin: 50px;
    
}

.my-button button{
    background-color: aqua;
    padding: 20px;
    width: 100px;
    border-radius: 10px;
    border: 0px;


}

.my-button1 {
    text-align: center;
    margin: 50px;
}

.my-button1 button {
    background-color: burlywood;
    padding: 20px;
    width: 100px;
    border-radius: 10px;
    border: 0px;

    

    
}